<h1 class="actions">
  <%= @article.title%>
</h1>
Escrito por: <%= @article.user.nil? ? "Sin Nickname": @article.user.nickname %>
<br>
Visitas: <%= @article.visits_count%>
<div class="actions">
  Categoria (s):
  <% @article.categories.each do |category| %>
    <%= link_to category.name, category, style: "color: #{category.color}" %> |
  <% end %>
</div>
<% unless @article.cover.blank? %>
  <div class="actions">
    <%= image_tag @article.cover.url(:thumb) %>
  </div>
<% end %>
<div class="actions">
  <%= @article.body%>
</div>
<div class="field">
  <h3 class="actions">Comentarios</h3>
  <ul id= 'comments-box'>
    <% @article.comments.each do |comment| %>
      <li id= "comment">
        <%= comment.body %> - <%= comment.user.nickname %>
      </li>
    <% end %>
  </ul>
  <%= render 'comments/form' %>
</div>
<div class="actions">
  <%= link_to 'Editar', edit_article_path(@article), class: 'btn be-blue white' %>
  <%= link_to 'Regresar', articles_path, class: 'btn be-blue white' %>
</div>